html,body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden; 
  height: 600vh; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: fixed;
  bottom: 0; 
  right: 0;  
  margin: 40px;

}

.wayneTower img{
  margin: 0;
  padding: 0;
width: 100%;
}

.logo {
  width: 120px; 
  height: 120px;
  object-fit: contain;
}

h1{
  font-family: 'Press Gothic';
  src:  url('/pfad-zur-schriftart/PressGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




.bats {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: blueviolet; */
}

.Bats img {
  width: 300px; /* Größe der Fledermaus festlegen */
  height: auto; /* Höhe proportional zur Breite */
}
