html,body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden; 
  height: 600vh; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: fixed;
  bottom: 0; 
  right: 0;  
  margin: 40px;

}

.logo {
  width: 120px; 
  height: 120px;
  object-fit: contain;
}
